*{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

header{
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    z-index: 1;
}
header > img{
    height: 75%;
}
header > ion-icon{
    font-size: 50px;
}
main{
    background-color: #F3F3F3;
    height: 100%;
    width: 100%;
    padding: 90px 0 90px 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
.chat{
    list-style: none;
    width: 100%;
}
.chat > li{
    word-wrap: break-word;
    padding: 10px 10px;
    margin: 4px 0;
    width: 100%;
}
.chat > li > span{
    font-weight: 700;
}
.chat > li > span:first-of-type{
    color: #AAAAAA;
    font-weight: 300;
}
.status{
    background-color: #DCDCDC;
}
.message{
    background-color: #FFFFFF;
}
.private_message{
    background-color: #FFDEDE;
}
footer{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
}
footer > div{
    width: 95%;
}
footer > div > input{
    width: 100%;
    margin: 10px 10px 10px 0;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    outline: none;
}
footer > div > input::placeholder{
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
}

footer > div > span{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
}
footer > ion-icon{
    font-size: 50px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15vh 0 0 0;
}
.login img{
    height: 20vh;
    width: auto;
    margin-bottom: 15vh;
}
.login input{
    width: 70vw;
    height: 5vh;
    text-align: center;
    font-size: 18px;
    border: solid 1px #D7D7D7;
    outline: none;
    border-radius: 5vw;
    margin-bottom: 4vh;
}
.login button{
    width: 22vw;
    height: 6vh;
    color: #696969;
    background-color: #e7e7e7;
    border-radius: 3vw;
    border: none;
    font-size: 18px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: white;
    height: 100%;
    width: 260px;
    padding: 25px;
    font-size: 16px;
    font-family: 'Roboto';
    overflow-y: scroll;
    box-sizing: border-box;
}
.sidebar > span{
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
}
.sidebar > ul > li{
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    position: relative;
}
.sidebar > ul > li > ion-icon{
    font-size: 23px;
    margin-right: 5px;
}
.sidebar > ul > li > .selectable{
    position: absolute;
    right: 0;
    color: rgb(0, 200, 0);
}
.fundo-sidebar{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.hidden{
    display: none;
}